
body {
  background: lightgray;
}

h1 {
  font-size: 40px;
}

h2, p {
  margin: 0;
}

.box {
  background: white;
  padding: 10px;
  margin-bottom: 15px;
}

.box > h2 {
  margin-bottom: 5px;
}

.m1 {
  margin-bottom: 10px;
}