body {
  background: plum;
}

h2, p {
  margin: 0;
}

.title-1 {
  color: whitesmoke; 
  font-size: 50px;
}
 
.p-1 {
  font-size: 24px;
}

.bg-white {
  background: white;
}

.bg-blueviolet {
  background: blueviolet;
}

.section-box {
  background: white;
  margin-bottom: 20px;
  padding: 10px;
}

.section-box > h2 {
  margin-bottom: 10px;
}